<%#encoding:UTF-8%>
<div<%= @id && %( id="#{@id}") %> class="colist<%= attr?('style') ? %( #{attr 'style'}) : nil %><%= attr?('role') ? %( #{attr 'role'}) : nil %>"><%= title? ? %(
<div class="title">#{title}</div>) : nil %><%
   if attr? 'icons' %>
    <table><% content.each_with_index do |item, i| %>
        <tr>
          <td><% if attr? :icons, 'font' %><i class="conum"><%= i + 1 %></i><% else %><img src="<%= icon_uri("callouts/\#{i + 1}") %>" alt="<%= i + 1 %>"><% end %> </td>
          <td><%= item.text %><% if item.blocks? %><%= item.content %><% end %></td>
        </tr><% end %>
    </table><%
   else %>
    <ol><% content.each do |item| %>
        <li>
          <p><%= item.text %></p><% if item.blocks? %><%= item.content %><% end %>
        </li><% end %>
    </ol><% end %>
</div>