<%#encoding:UTF-8%>
<% if @level.zero? %><h1<%= @id && %( id="#{@id}") %>><%= title %></h1>
  <%= content.chomp %>
<% else %>
  <%
     title_html = %(#{@caption}#{title})
     title_html = %(<a name="#{@id}" class="anchor" href="##{@id}">#{title_html}</a>) if (attr? 'anchors')
     title_html = %(#{sectnum} #{title_html}) if !@special && (attr? 'numbered')
  %>
  <div<%= %( class="sect#{@level}#{attr?('role') ? " #{attr 'role'}" : nil}") %>>
    <%= %(<h#{@level + 1}) %><%= @id && %( id="#{@id}") %>><%= title_html %><%= %(</h#{@level + 1}>) %>
    <%
       if @level == 1 %>
      <div class="sectionbody">
        <%= content.chomp %>
      </div>
    <% else %>
      <%= content.chomp %>
    <% end %></div>
<% end %>